body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  /* background-image:url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?dpr=0800'); */
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
   font-weight: 400;
  -webkit-font-smoothing: antialiased; 
 }
.App {
  text-align: center;
}
/* Logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-wrapper {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

Title {
  height: 30px;
  font-weight: 400;
}

.LessonCheck {
  display: block;
}

/* Lessons */
.LessonCheck {
  font-size: 1.5rem;
}

.LessonCheck label {
  text-align: left;
  display: block;
  padding-bottom: 5px;
}

.LessonCheck input {
  display: none; /* Esconder el checkbox predeterminado */
}

/* Estilo artificial del checkbox */
.LessonCheck span {
  height: 15px;
  width: 15px;
  border: 2px solid white;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  border-radius: 5px;
}

/* Estilo cuando realizamos click en el checkbox con icono */

.LessonCheck [type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -10px;
  left: 0;
}
.Footer {
  width: 50%;
  font-size: 1.2rem;
  text-align: left;
  cursor:pointer;
}
